# dependencies
node_modules/

# nextjs
.next/

# env files
.env
backend/.env
frontend/.env
frontend/.env.local
frontend/.env.development

# logs
*.log

# build files
dist/
build/

frontend/node_modules
backend/node_modules
